body {
	margin: 0;
	font-family: 'Karla', sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	line-height: 1.2;
	font-family: 'Tinos', serif;
}

h1 {
	font-size: 2em;
}

h2 {
	color: #6A1758;
}

a {
	color: inherit;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}